.filtros {
  display: flex;
  justify-content: space-around;
  margin: 8px 0 15px;

  .boton-filtro {
    --border-color: #5d4037;
    --background: #e7c7af;
    color: #5d4037;
    border-radius: 18px;
    font-weight: 600;
    text-transform: none;
    transition: 0.2s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
    padding: 4px 10px;
    font-size: 12px;

    &.activo {
      background-color: #5d4037;
      color: #f5e1d0;
      transform: scale(1.02);
    }

    &:hover {
      transform: scale(1.02);
      background-color: #d9b09a;
    }
  }
}
