<ion-content class="fondo" *ngIf="receta">
  <div class="contenedor">

    <div class="contenedor-imagen">
      <img [src]="receta.urlImagen" [alt]="receta.nombre" class="imagen-receta" />
    </div>

    <h2 class="titulo">{{ receta.nombre }}</h2>
    <p>{{ receta.descripcion }}</p>

    <div class="etiquetas">
      <span *ngIf="receta.vegetariana">#vegetariana</span>
      <span *ngIf="receta.rapido">#rápido</span>
      <span *ngIf="receta.economica">#económica</span>
      <span *ngIf="receta.sin_gluten">#sinGluten</span>
    </div>

    <div class="datos">
      <div><ion-icon name="time-outline"></ion-icon> {{ receta.tiempoPreparacion }} Min</div>
      <div>{{ receta.dificultad }}</div>
      <div><ion-icon name="cube-outline"></ion-icon> {{ receta.ingredientes.length }} Ing</div>
    </div>

    <div class="botones-acciones">
      <button class="btn-opcion">Agregar Compras</button>
      <button class="btn-opcion">Marcar Cocinado</button>
    </div>

    <div class="toggle">
      <button [class.activo]="mostrarIngredientes" (click)="cambiarAIngredientes()">Ingredientes</button>
      <button [class.activo]="!mostrarIngredientes" (click)="cambiarAInstrucciones()">Instrucciones</button>
    </div>

    <ng-container *ngIf="mostrarIngredientes">
      <div class="item" *ngFor="let ing of receta.ingredientes">
        {{ ing.cantidad }} {{ ing.nombre }}
      </div>
    </ng-container>

    <ng-container *ngIf="!mostrarIngredientes">
      <div class="item" *ngFor="let ins of receta.instrucciones">
        {{ ins.paso_numero }}- {{ ins.descripcion }}
      </div>
    </ng-container>

    <div class="boton-salir">
      <ion-icon name="arrow-back-outline" (click)="volverABuscarDesdeRecetasMasInfo()"></ion-icon>
    </div>

  </div>

  <app-barra-navegacion></app-barra-navegacion>
</ion-content>
