.fondo {
  --background: #e9cbb4;
}

.contenedor {
  text-align: center;
  padding: 15px;
  padding-bottom: 120px;
}

.contenedor-imagen {
  display: flex;
  justify-content: center;
}

.imagen-receta {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.titulo {
  margin-top: 10px;
  font-size: 22px;
  color: #4d3a2f;
  font-weight: 600;
}

.etiquetas span {
  font-size: 12px;
  color: grey;
  margin: 0 5px;
}

.datos {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  color: #4d3a2f;
  font-size: 14px;
}

.botones-acciones {
  margin-top: 18px;
  display: flex;
  justify-content: space-evenly;
}

.btn-opcion {
  background: #d7bca4;
  color: #4d3a2f;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.toggle {
  margin: 18px auto;
  width: 85%;
  background: #d7bca4;
  padding: 6px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.toggle button {
  flex: 1;
  border-radius: 16px;
  border: none;
  padding: 6px 0;
  background: transparent;
  font-weight: 600;
  color: #4d3a2f;
}

.toggle .activo {
  background: white;
}

.lista {
  width: 90%;
  margin: auto;
}

.item {
  background: #77948b;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  border-radius: 8px;
}

.icono-editar {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 24px;
  color: #5d4037;
  cursor: pointer;
  z-index: 3;

  &:active {
    transform: scale(0.9);
  }
}

