ion-content.fondo-principal {
  --background: #e9cbb4;
}

.boton-salida {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}

.icono-salida {
  font-size: 28px;
  color: #5d4037;
  transition: transform 0.2s;
}

.icono-salida:hover {
  transform: scale(1.15);
}

.contenedor-principal {
  padding: 10px;
  max-width: 450px;
  margin: auto;
  color: #5d4037;
}

.logo {
  width: 50px;
  margin: 8px auto;
  display: block;
}

.botones-top {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;


  .btn {
    background: transparent;
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    border: 2px solid #000;
    font-weight: bold;
    font-size: 14px;
  }
  .activo {
    background: rgb(217, 176, 154);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  }

}

.tarjeta-receta {
  background-color: #e7c7af;
  border-radius: 12px;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  overflow: hidden;
  padding: 8px;

  ion-row {
    align-items: center;
  }

  .imagen-receta {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 6px;
  }

  .titulo-receta {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 4px;
    color: #5d4037;
  }

  .info-receta {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 11px;
    color: #5d4037;
    margin-bottom: 4px;

    ion-icon {
      font-size: 14px;
    }
  }

  .hashtags {
    span {
      background: #f5e1d0;
      color: #5d4037;
      border-radius: 10px;
      padding: 2px 4px;
      font-size: 10px;
      margin-right: 3px;
    }
  }

  .boton-mas {
    --color: #5d4037;
    font-size: 12px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .icono-favorito {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #5d4037;
    font-size: 20px;
    transition: 0.2s;
  }

  .icono-favorito.activo {
    color: #7b5a46;
    transform: scale(1.1);
  }
}
