<ion-content class="fondo">

  <div class="contenedor">


    <div class="contenedor-imagen">
      <img src="./assets/icon/pastaCarbonara.png" class="imagen-receta" />
    </div>

    <h2 class="titulo">Pasta Carbonara Clásica</h2>

    <div class="etiquetas">
      <span>#italiano</span>
      <span>#pasta</span>
    </div>

    <div class="datos">
      <div><ion-icon name="time-outline"></ion-icon> 20 Min</div>
      <div>Rápido</div>
      <div><ion-icon name="people-outline"></ion-icon> 4 Pers</div>
      <div>Económico</div>
      <div><ion-icon name="cube-outline"></ion-icon> 7 Ing</div>
    </div>

    <div class="botones-acciones">
      <button class="btn-opcion">Agregar Compras</button>
      <button class="btn-opcion">Marcar Cocinado</button>
    </div>


    <div class="toggle">
      <button (click)="cambiarAIngredientes()">Ingredientes</button>
      <button class="activo">Instrucciones</button>
    </div>

    <div class="lista">
      <div class="item">Cocinar la pasta en agua con sal hasta que esté al dente</div>
      <div class="item">Freír la panceta hasta que esté dorada y crujiente</div>
      <div class="item">Batir huevos con queso parmesano y pimienta</div>
      <div class="item">Mezclar pasta caliente con panceta y huevos fuera del fuego</div>
      <div class="item">Servir inmediatamente con más queso</div>
    </div>


    <div class="boton-salir">
      <ion-icon name="arrow-back-outline" (click)="irAhomeDesdeHome()"></ion-icon>
    </div>

  </div>
  <app-barra-navegacion></app-barra-navegacion>

</ion-content>


