
@import '../receta-mas-info/receta-mas-info.component';

.boton-salir {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;

  ion-icon {
    font-size: 32px;
    color: #4d3a2f;
  }
}
