<ion-content class="fondo-principal ion-padding">
  <div class="contenedor-principal">

    <div class="seccion-cabecera ion-text-center">
      <ion-icon name="person-add-outline" class="icono-perfil-principal"></ion-icon>

      <ion-button fill="clear" size="small" class="boton-foto">
        Añadir foto Perfil
      </ion-button>
    </div>

    <ion-card class="tarjeta-formulario">
      <ion-card-content class="contenido-tarjeta">

        <div>
          <ion-item class="item-campo">
            <ion-input
              label="Nombre"
              labelPlacement="stacked"
              placeholder="Escriba su nombre"
              class="input-valor"
            ></ion-input>
          </ion-item>

          <ion-item class="item-campo">
            <ion-input
              label="Apellidos"
              labelPlacement="stacked"
              placeholder="Escriba sus apellidos"
              class="input-valor"
            ></ion-input>
          </ion-item>

          <ion-item class="item-campo">
            <ion-input
              label="Fecha Nacimiento"
              labelPlacement="stacked"
              type="date"
              placeholder="Dia/Mes/Año"
              class="input-valor"
            ></ion-input>
          </ion-item>

          <ion-item class="item-campo">
            <ion-input
              label="Correo Electrónico"
              labelPlacement="stacked"
              type="email"
              placeholder="Escriba su correo"
              class="input-valor"
            ></ion-input>
          </ion-item>

          <ion-item class="item-campo">
            <ion-input
              label="Dirección"
              labelPlacement="stacked"
              placeholder="Escriba su dirección"
              class="input-valor"
            ></ion-input>
          </ion-item>

          <ion-item class="item-campo">
            <ion-input
              label="Contraseña"
              labelPlacement="stacked"
              type="password"
              placeholder="Escriba su contraseña"
              class="input-valor"
            ></ion-input>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="contenedor-botones">
      <ion-button shape="round" class="boton-accion boton-volver" (click)="volverInicio()">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-button>

      <ion-button shape="round" class="boton-accion boton-aceptar">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
