<ion-content class="fondo">
  <div class="container">


    <div class="logo-corner">
      <img src="assets/icon/logoSmartChef_small.png" alt="Logo SC" />
    </div>


    <div class="perfil-icon-container">
      <ion-icon name="person-circle-outline" class="perfil-icon"></ion-icon>
    </div>


    <ion-button fill="clear" class="boton-foto">
      Añadir foto Perfil
    </ion-button>


    <div class="tarjeta-formulario">

      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" value="Value"></ion-input>
      </ion-item>


      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Apellidos</ion-label>
        <ion-input type="text" value="Value"></ion-input>
      </ion-item>


      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Fecha Nacimiento</ion-label>
        <ion-input type="date" value="Value"></ion-input>
      </ion-item>


      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Correo Electronico</ion-label>
        <ion-input type="email" value="Value"></ion-input>
      </ion-item>


      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Direccion</ion-label>
        <ion-input type="text" value="Value"></ion-input>
      </ion-item>


      <ion-item lines="none" class="input-item no-border-bottom">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" value="Value"></ion-input>
      </ion-item>
    </div>

  </div>

  <!-- Botones de Navegación (Fijos en la parte inferior) -->
  <div class="botones-navegacion">
    <!-- Botón Atrás -->
    <ion-button class="boton-atras">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <!-- Botón Guardar/Confirmar -->
    <ion-button class="boton-confirmar">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
