ion-content.fondo-principal {
  --background: #e9cbb4;
}

.contenedor-principal {
  padding: 10px;
  max-width: 450px;
  margin: auto;
  color: #5d4037;
}


.boton-salida {
  display: flex;
  justify-content: flex-end;
}

.icono-salida {
  font-size: 28px;
  color: #5d4037;
  transition: transform 0.2s;
}

.icono-salida:hover {
  transform: scale(1.15);
}

.logo {
  width: 50px;
  margin: 8px auto;
  display: block;
}


.filtros {
  display: flex;
  justify-content: space-around;
  margin: 8px 0 15px;

  .boton-filtro {
    --border-color: #5d4037;
    --background: #e7c7af;
    color: #5d4037;
    border-radius: 18px;
    font-weight: 600;
    text-transform: none;
    transition: 0.2s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
    padding: 4px 10px;
    font-size: 12px;

    &.activo {
      background-color: #5d4037;
      color: #f5e1d0;
      transform: scale(1.02);
    }

    &:hover {
      transform: scale(1.02);
      background-color: #d9b09a;
    }
  }
}


.lista-favoritos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.mensaje-vacio {
  text-align: center;
  color: #5d4037;
  margin-top: 50px;

  ion-icon {
    font-size: 48px;
    color: #7b5a46;
  }

  p {
    font-size: 14px;
    margin-top: 8px;
  }
}
