<ion-content class="fondo-principal">
  <div class="contenedor-principal">

    <div class="boton-salida">
      <ion-icon name="close-outline" class="icono-salida"></ion-icon>
    </div>


    <div class="cabecera">
      <img src="assets/icon/logoSmartChef.png" alt="Logo" class="logo">
    </div>


    <div class="filtros">
      <ion-button fill="outline" class="boton-filtro">Tendencias</ion-button>
      <ion-button fill="outline" class="boton-filtro">Recientes</ion-button>
      <ion-button fill="solid" class="boton-filtro activo">Favoritos</ion-button>
    </div>

    <div class="lista-favoritos">
      <div class="mensaje-vacio">
        <ion-icon name="heart-outline"></ion-icon>
        <p>Aún no tienes recetas en favoritos.</p>
      </div>
    </div>

  </div>
</ion-content>

<app-barra-navegacion></app-barra-navegacion>
