ion-content.fondo-principal {
  --background: #e9cbb4;
}

.contenedor-principal {
  padding: 10px;
  max-width: 450px;
  margin: auto;
  color: #5d4037;
  padding-bottom: 120px;
}

.boton-salida {
  display: flex;
  justify-content: flex-end;
}

.icono-salida {
  font-size: 28px;
  color: #5d4037;
  transition: transform 0.2s;
}

.icono-salida:hover {
  transform: scale(1.15);
}

.logo {
  width: 50px;
  margin: 8px auto;
  display: block;
}


.botones-top {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;

  .btn {
    background: transparent;
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    border: 2px solid #000;
    font-weight: bold;
    font-size: 14px;
  }

  .activo {
    background: rgb(217, 176, 154);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }
}

.lista-favoritos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mensaje-vacio {
  text-align: center;
  color: #5d4037;
  margin-top: 50px;

  ion-icon {
    font-size: 100px;
    color: #7b5a46;
  }

  p {
    font-size: 14px;
    margin-top: 8px;
  }
}


.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.25);

  ion-toolbar {
    --background: #ccbaad;
  }

  .menu-inferior {
    display: flex;
    justify-content: space-around;
    padding: 12px 0;

    ion-button {
      --color: #5d4037;
      font-size: 22px;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
