<ion-footer class="footer-nav">
  <ion-toolbar>
    <div class="menu-inferior">
      <ion-button
        fill="clear"
        [class.activo]="activo === 'home'"
        (click)="irAhomeDesdeHome()"
      >
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button
        fill="clear"
        [class.activo]="activo === 'buscar'"
        (click)="irAbuscarDesdeHome()"
      >
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

      <ion-button
        fill="clear"
        [class.activo]="activo === 'favoritos'"
        (click)="irAfavoritosDesdeHome()"
      >
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>

      <ion-button
        fill="clear"
        [class.activo]="activo === 'perfil'"
        (click)="irAperfilDesdeHome()"
      >
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
