.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.25);

  ion-toolbar {
    --background: #ccbaad;
  }

  .menu-inferior {
    display: flex;
    justify-content: space-around;
    padding: 12px 0;

    ion-button {
      --color: #5d4037;
      font-size: 22px;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.contenedor-principal {
  padding-bottom: 80px;
}
