.fondo {
  --background: #e9cbb4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 20px;
  color: #5b4031;
}

.logo {
  width: 130px;
  margin: 40px auto 10px;
}

.titulo {
  font-family: 'Poppins', sans-serif;
  color: #5b4031;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 24px;
  margin: 5px 0 0 0;
}

.subtitulo {
  color: #876b5d;
  font-size: 14px;
  margin-top: 2px;
  letter-spacing: 1px;
}

.descripcion {
  font-size: 14px;
  margin: 20px 0;
  color: #5b4031;
}

.tarjeta-login {
  background-color: #d7bca4;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #b7957c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-item {
  --background: transparent;
  margin-bottom: 10px;
  padding-bottom: 10px;

  ion-label {
    color: #5b4031;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  ion-input {
    background-color: #fff;
    border-radius: 6px;
    padding: 8px;
    color: #5b4031;
  }
}

.boton-iniciar {
  --background: #d7bca4;
  --color: #5b4031;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 50px;
  height: 50px;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.boton-registrar {
  margin-top: 20px;
  color: #5b4031;
  font-weight: bold;
  font-size: 15px;
  background-color: #d7bca4;
  border-radius: 20px;
  padding: 6px 20px;
  text-transform: none;
}

boton-registrar:hover {
  background-color: rgba(91, 64, 49, 0.1);
}

@keyframes efecto {
  from{
    opacity: 0;
    transform: translateY(30px);
  }to{
  opacity: 1;
  transform: translateY(0);
     }
}

.animacion{
  opacity: 0;
  animation: efecto 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.logo { animation-delay: 0.1s; }
.titulo { animation-delay: 0.3s; }
.subtitulo { animation-delay: 0.4s; }
.descripcion { animation-delay: 0.6s; }
.tarjeta-login{ animation-delay: 0.8s; }
.boton-registrar { animation-delay: 1.0s; }

